span{
    position: fixed;
    offset: right;
    background-color: black;
    color: white;
}


#div0{
    background-color: rgb(255, 0, 0);
    margin-top: 60px;
    display:flex;
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
#div1{
    background-color: rgb(38, 0, 255);
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 280px;
    
}
body{
}
button{
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}